[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[build.environment]
  NODE_VERSION = "18"

[dev]
  command = "npm run dev"
  targetPort = 5180
  port = 8890
  autoLaunch = false

[functions]
  directory = "netlify/functions"

[[plugins]]
  package = "@netlify/plugin-emails"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "SAMEORIGIN"
    X-Content-Type-Options = "nosnifff"

[[redirects]]
  from = "/api/check-update"
  to = "/.netlify/functions/check-update"
  status = 200
